# {{ ansible_managed }}
{% if item.ovs|default(false) %}
TYPE=OVSPort
DEVICETYPE=ovs
{% else %}
TYPE=bond
{% endif %}
BOOTPROTO=none
BONDING_MASTER=yes
DEVICE={{ item.iface }}
{% if item.bridge is defined %}
{% if item.ovs|default(false) %}
OVS_BRIDGE={{ item.bridge }}
{% else %}
BRIDGE={{ item.bridge }}
{% endif %}
{% if item.ip4 is defined %}
IPADDR={{ item.ip4|ipv4('address') }}
PREFIX={{ item.ip4|ipv4('prefix') }}
{% endif %}
{% if item.gw4 is defined %}
GATEWAY={{ item.gw4 }}
{% endif %}
{% endif %}
ONBOOT=yes
{% if item.vlan|default(false) %}
VLAN=yes
{% endif %}
BONDING_OPTS="mode={{ item.bonding_mode|default(4)}}{% if item.bonding_mode is defined %}{% if item.bonding_mode=='4' %} lacp_rate={{ item.lacp_rate|default(1) }}{% endif %}{% if item.bonding_mode=='2' or item.bonding_mode=='4' %} xmit_hash_policy={{ item.xmit_hash_policy|default('layer3+4') }}{% endif %}{% endif %} miimon={{ item.miimon|default(100) }}"
NM_CONTROLLED=no
