# {{ ansible_managed }}
TYPE=Bridge
BOOTPROTO=none
DEVICE={{ item.iface }}
{% if item.ip4 is defined %}
IPADDR={{ item.ip4|ipv4('address') }}
PREFIX={{ item.ip4|ipv4('prefix') }}
{% if item.gw4 is defined %}
GATEWAY={{ item.gw4 }}
{% endif %}
{% endif %}
ONBOOT=yes
DELAY=0
NM_CONTROLLED=no
