# {{ ansible_managed }}
TYPE=Ethernet
{% if item.dhcp|default(None) %}
BOOTPROTO=dhcp
DEFROUTE=yes
PEERDNS=yes
PEERROUTES=yes
{% else %}
BOOTPROTO=none
{% endif %}
DEVICE={{ item.iface }}
{% if item.bridge is defined %}
BRIDGE={{ item.bridge }}
{% else %}
{% if item.ip4 is defined %}
IPADDR={{ item.ip4|ipv4('address') }}
PREFIX={{ item.ip4|ipv4('prefix') }}
{% endif %}
{% if item.gw4 is defined %}
GATEWAY={{ item.gw4 }}
{% endif %}
{% endif %}
ONBOOT=yes
NM_CONTROLLED=no
